<table class="table table-hover">
  <thead>
    <tr class="table-secondary">
      <th scope="col">Mã bài nộp</th>
      <th scope="col">Ngày nộp</th>
      <th scope="col">Thời gian chạy</th>
      <th scope="col">Bộ nhớ</th>
      <th scope="col">Kết quả</th>
      <th scope="col">Bài tập</th>
      <th scope="col">Ngôn ngữ</th>
      <th scope="col">Người nộp</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let submission of searchResult?.items">
      <td>{{ submission.id }}</td>
      <td>{{ submission.createdAt }}</td>
      <td>{{ submission.time }}</td>
      <td>{{ submission.memory }}</td>
      <td><span [className]="submission.status | submissionStatusClass">{{ submission.status | submissionStatus }}</span></td>
      <td><a [routerLink]="['/Problems', submission.problemId]">{{ submission.problemName }}</a></td>
      <td>{{ submission.languageName }}</td>
      <td>{{ submission.creatorName }}</td>
    </tr>
  </tbody>
</table>

<app-pagination
  [totalPages]="searchResult?.totalPages ?? 0"
  [currentPage]="currentPage"
  [maxPages]="5"
  (changePage)="onPageChange($event)">
</app-pagination>